@model GardenManager.Web.ViewModels._LayoutViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Garden HQ</h1>
    <p class="lead">Welcome to your one stop source for all the crucial data for your successful garden!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This will be populated and fleshed out in the future.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Future Features</h2>
        <p>Again, will be filled as time goes on.</p>
    </div>
    <div class="col-md-4">
        <h2>Tips</h2>
        <p>More to come...></p>
    </div>
</div>