<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" id="submit-modal-form" class="btn btn-info" />
            <input type="button" value="Cancel" class="close btn btn-default" data-dismiss="modal" aria-label="Cancel" />
        </div>
    </div>
</div>
